<section class="bg-color">
    <div class="containers">
        <div class="title">
            <h2>Our Clients</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/bank_asia.jpg">
                </div>
            </div>
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/brac-bank.jpg">
                </div>
            </div>
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/community-bank.jpg">
                </div>
            </div>
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/Dhaka-bank.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/Ebl.jpg">
                </div>
            </div>
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/Jamuna.jpg">
                </div>
            </div>
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/Lanka-bangla.jpg">
                </div>
            </div>
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/Mtbl.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/Nrbc.jpg">
                </div>
            </div>
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/Sbac.jpg">
                </div>
            </div>
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/Trust-bank.jpg">
                </div>
            </div>
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/ucb.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="partners">
                    <img src="../assets/Images/Bank 315/union.jpg">
                </div>
            </div>
        </div>
    </div>
</section>