<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>Data Center design and Implementation</h2>
                        <p>Data center design is the process of modeling and designing a data center’s IT
                            resources, architectural layout and entire infrastructure. It enables the logical
                            conception of a data center prior to development or implementation in an
                            organization or IT environment. Although data center is a broad term that includes
                            various processes and techniques, a data center design may be in the form of
                            documents, modeled diagram systems or a combination of both. We will design
                            extraordinary data center for you company and implement it in best way.
                        </p>
                        <p>
                            We install smart data center and Implementation with latest technologies and 
                            database software.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home sub/New folder/data center.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->