<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>Forensic (Computer, Mobile, Cloud)</h2>
                        <p>Mobile forensics is a subset of digital forensics, the retrieval of data from an
                            electronic source. Specifically, mobile forensics deals with recovery evidence from
                            mobile devices such as smartphones and tablets. We are expert in Forensic serviceswith 
                            world latest innovations in this field.
                        </p>
                        <p>
                            We provide world class Forensic Solutions for your business.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home sub/New folder/cyber-security.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->