<section class="bg-color">
    <div class="containers">
        <div class="title">
            <h2>Our Partners</h2>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Allot.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Bitdefender.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Cisco.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Credence.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/DELLEMC.png">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Electrofrom.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/epordo.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Vm-ware.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/extrm-network.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Fat-pipe.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Fortinet.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Hewlett-packard.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Huawai.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Juniper.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Microsoft.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Passware.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/ploycom (2).jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/PRTG-network.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Quantam.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Qvis.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Red-hat.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/sat.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Shadow-Dragon.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Solar-winds.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Tiny.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Trellix.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/Trend-micro.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/our partners/veemon.jpg">
                </div>
            </div>
        </div>
    </div>
</section>