<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>Building Automation</h2>
                        <p>Building automation is the use of automation and control systems to monitor and
                            control building wide systems, such as HVAC, lighting, alarms, and security access
                            and cameras. Converging these systems into a single IT-managed network
                            infrastructure creates a smart building. Smart buildings often use Power over
                            Ethernet (PoE) to power and connect IoT devices and sensors.
                        </p>
                        <p>
                            We ensure real time Building Automation solution for your company.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home sub/New folder/Building-Automation.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->