<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>CCTV Surveillance</h2>
                        <p>CCTV Camera and Network Video Surveillance System is the preferred surveillance
                            solution for corporations and organizations providing a total and comprehensive
                            high-resolution coverage of their premises for deterrence and security.
                            Our CCTV Camera system is an all-encompassing network digital video solution
                            combining on-site monitoring, high resolution recording with full remote and video
                            analytics capabilities.
                        </p>
                        <p>
                            We ensure best CCTV Surveillance solution for your business.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home sub/New folder/CCTV Surveillance.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->