<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>Document Management & Digital Library</h2>
                        <p>Our Document management systems are used for individuals, office workgroups
                            and enterprises to organize and keep track of the documents being produced as a
                            part of your work. By Digital libraries we help you assumed to process large
                            corporate of information what is generally high value but the material is not only of
                            high quality, but also some care is placed on cataloging the material, and making
                            sure that the origin, date, and other external descriptive information is accurate.
                        </p>
                        <p>
                            We ensure world class Document Management & Digital Library system for your
                            company.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home/Document Management & Digital Librar.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->