<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>Cyber Security</h2>
                        <p>Cyber security is the practice of defending computers, servers, mobile devices,
                            electronic systems, networks, and data from malicious attacks. It’s also known as
                            information technology security or electronic information security.
                        </p>
                        <p>
                            We provide world class Cyber Security Solutions for your business.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home sub/New folder/cyber-security.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->