<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>Identify and Access Management</h2>
                        <p>Identity and access management (IAM) is a framework of business processes,
                            policies and technologies that facilitates the management of electronic or digital
                            identities. With an IAM framework in place, information technology (IT) managers
                            can control user access to critical information within their organizations. Systems
                            used for IAM include single sign-on systems, two-factor authentication, multifactor
                            authentication and privileged access management. These technologies also provide
                            the ability to securely store identity and profile data as well as data governance
                            functions to ensure that only data that is necessary and relevant is shared.
                        </p>
                        <p>
                            We confirm identity and access management solutions for you.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home sub/New folder/Identify and Access Management.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->