<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>VAPT</h2>
                        <p>Vulnerability Assessment and Penetration Testing (VAPT) describes a 
                            broad range of security testing services designed to identify and 
                            help address cyber security exposures. We are expert in VAPT services 
                            with world latest innovations in this field.
                        </p>
                        <p>
                            We provide world class VAPT for your business.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home sub/New folder/Vapt.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->