<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>Internet of Things (IoT) Solutions</h2>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home sub/New folder/Iot-Solution.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->

<!--MAIN BODY (PART-2) STARTS HERE-->
<section class="main-body-part2">
    <div class="containers">
        <div class="mb2-content">
            <h1>Smart Lab Introduce IoT in Bangladesh</h1>
            <p>
                Smart Lab technologists develops system of interrelated computing 
                devices, mechanical and digital machines, objects, animals or 
                people that are able to transfer data over a network without requiring 
                human-to-human or human-to-computer interaction. 
            </p>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-2) ENDS HERE-->