<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>বাংলাদেশের সেরা রেট ১৮ পয়সা!</h2>
                        <p>ব্যবসার দ্রুত এবং সবচাইতে সাশ্রয়ী প্রচারে Smart Lab এর Messaging Solution
                            সার্ভিস আপনাকে এনে দিবে সর্বোচ্চ সাফল্য!
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">SMS পাঠাতে রেজিস্ট্রেশন করুন</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home/new-lab.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->

<!--MAIN BODY (PART-2) STARTS HERE-->
<section class="bg-color">
    <div class="containers">
        <div class="title">
            <h2>Why Choose Us</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/Bulk service page/cheap-sms-rate.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Cheap SMS Rates</h1>
                    <p>We Provide You Lowest Rates.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/Bulk service page/Target-Area.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Locaton Based SMS</h1>
                    <p>Send SMS to your target Area</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/Bulk service page/support.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>24*7 Support</h1>
                    <p>We are ensure service 24 hours.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/Bulk service page/2-way-sms.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Two-way SMS</h1>
                    <p>You Can Send & Receive SMS.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-2) ENDS HERE-->

<!--MAIN BODY (PART-3) STARTS HERE-->
<section class="mb3">
    <div class="containers">
        <div class="title1">
            <h2>Features</h2>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="mb3-image1">
                    <img src="../assets/Images/Bulk service page/Features/mobile-png-lab.png" alt="si.png">
                </div>
            </div>
            <div class="col-md-1">
                <div class="mb3-image2">
                    <li><img src="../assets/Images/Bulk service page/Features/bangla-sms.png" alt="si.png"></li>
                    <li><img src="../assets/Images/Bulk service page/Features/long-sms-support.png" alt="si.png"></li>
                    <li><img src="../assets/Images/Bulk service page/Features/cvs-&-txt.png" alt="si.png"></li>
                    <li><img src="../assets/Images/Bulk service page/Features/Developer-Api.png" alt="si.png"></li>     
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb3-content">
                    <li>
                        <h1>Bangla SMS Support</h1>
                        <p>
                            আমার সোনার বাংলা আমি তোমায় ভালোবাসি.
                            Standard unicode characters count system
                        </p>
                    </li> 
                    <li>
                        <h1>Long SMS Support</h1>
                        <p>
                            Send SMS Max 1500 characters, Max 10 
                            Standard SMS part Count
                        </p>
                    </li> 
                    <li>
                        <h1>Send SMS From CVS & TXT File</h1>
                        <p>
                            You Can send SMS from CVS or TXT file. its 
                            help to Send large SMS Volume
                        </p>
                    </li> 
                    <li>
                        <h1>Developer API</h1>
                        <p>
                            Integrate our API with Other 
                            Application, php, asp, other
                        </p>
                    </li>  
                </div>
            </div>
            <div class="col-md-1">
                <div class="mb3-image2">
                    <li><img src="../assets/Images/Bulk service page/Features/location-based-sms.png" alt="si.png"></li>
                    <li><img src="../assets/Images/Bulk service page/Features/unlimited-user.png" alt="si.png"></li>
                    <li><img src="../assets/Images/Bulk service page/Features/payment.png" alt="si.png"></li>
                    <li><img src="../assets/Images/Bulk service page/Features/support-e.png" alt="si.png"></li>     
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb3-content">
                    <li>
                        <h1>Location Based SMS</h1>
                        <p>
                            We Can send Location Wise SMS All 500m to 50km 
                            Radius from your target location
                        </p>
                    </li> 
                    <li>
                        <h1>Unlimited User</h1>
                        <p>
                            You Can Create unlimited user under your 
                            account, And your sub user also can Create 
                            sub account.
                        </p>
                    </li> 
                    <li>
                        <h1>BKash Payment</h1>
                        <p>
                            You Can Buy SMS any time 24/7 Automatic 
                            through bkash Marchant Payment
                        </p>
                    </li> 
                    <li>
                        <h1>Great Support</h1>
                        <p>
                            You can Get Support Over Phone, Email & 
                            Online tickets
                        </p>
                    </li>  
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-3) ENDS HERE-->

<!--MAIN BODY (PART-4) ENDS HERE-->
<section class="mb4">
    <div class="containers">
        <div class="row">
            <div class="col-md-6">
                <div class="mb4-image">
                    <img src="../assets/Images/Bulk service page/Features/bulk-sms.png" alt="si.png">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb4-content">
                    <h1>Benefits of SMS Marketing:</h1>
                    <li>SMS marketing will generate more new clients</li>
                    <li>More Business will be originated from existing clients</li>
                    <li>Gross profit margin must be Improved</li>
                    <li>Extremely cost effective</li>
                    <li>No or little waste</li>
                    <li>Immediate delivery</li>
                    <li>Economical</li>
                    <li>Professional Impact on customers</li>
                    <li>21st century marketing</li>
                    <div class="button1">
                        <a routerLink="/contact">
                            <button type="button" class="btn">SignUp Now</button>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-4) ENDS HERE-->

<!--MAIN BODY (PART-5) STARTS HERE-->
<section class="bg-color">
    <div class="containers">
        <div class="title2">
            <h2><i class="fa fa-envelope"></i> Bulk SMS Price</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pricing-plan">
                    <div class="pricing-plan__header1">
                        <h1 class="pricing-plan__title">NON MASKING I</h1>
                        <h2 class="pricing-plan__summary">BASIC</h2>
                    </div>
                    <div class="pricing-plan__actions">
                        <p class="pricing-plan__cost">0.20৳</p>
                        <p class="pricing-plan__text">per SMS</p>
                        <p class="pricing-plan__text">Minimum Buy: 400Tk(2000 SMS)</p>
                    </div>
                    <div class="pricing-plan__description">
                        <ul class="pricing-plan__list">
                            <li class="pricing-plan__feature1">Sender Number : Shared</li>
                            <li class="pricing-plan__feature1">HTTP API Access : Yes</li>
                            <li class="pricing-plan__feature1">Can Send OTP SMS: No</li>
                            <li class="pricing-plan__feature1">Can Change Package: Yes</li>
                            <li class="pricing-plan__feature1">Wordpress SMS Plugin : Yes</li>
                            <li class="pricing-plan__feature1"> Fast Delivery Speed</li>
                            <li class="pricing-plan__feature1">Delivery Report: Yes</li>
                            <li class="pricing-plan__feature1">Validity :1y to 5Years</li>
                            <li class="pricing-plan__feature1">Number Formats Support: 88017,019,018</li>
                            <li class="pricing-plan__feature1">File to SMS : Yes</li>
                            <li class="pricing-plan__feature1">Dynamic SMS : Yes</li>
                            <li class="pricing-plan__feature1">Group SMS : Yes</li>
                            <li class="pricing-plan__feature1"> Online Payment (Bkash Auto):Yes</li>
                        </ul>
                    </div>
                    <div class="pricing-plan__actions">
                        <a routerLink="/contact">
                            <button type="button" class="pricing-plan__button1">Buy Now</button>
                        </a>
                        <p class="pricing-plan__text">*** 5% Vat will be added</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-plan">
                    <div class="pricing-plan__header1">
                        <h1 class="pricing-plan__title">NON MASKING II</h1>
                        <h2 class="pricing-plan__summary">STANDARD</h2>
                    </div>
                    <div class="pricing-plan__actions">
                        <p class="pricing-plan__cost">0.25৳</p>
                        <p class="pricing-plan__text">per SMS</p>
                        <p class="pricing-plan__text2">Buy 2000(sms) 0.25 BDT</p>
                        <p class="pricing-plan__text2">Buy 50000(sms) 0.22 BDT</p>
                        <p class="pricing-plan__text2">Buy 100000(sms) 0.20 BDT</p>
                        <p class="pricing-plan__text">Minimum Buy: 2000 SMS (500Tk)</p>
                    </div>
                    <div class="pricing-plan__description">
                        <ul class="pricing-plan__list">
                            <li class="pricing-plan__feature1">Sender Number : Fixed</li>
                            <li class="pricing-plan__feature1">HTTP API Access : Yes</li>
                            <li class="pricing-plan__feature1">Auto Backup Gateway Routing: Yes</li>
                            <li class="pricing-plan__feature1">Can Send OTP SMS: No</li>
                            <li class="pricing-plan__feature1">Can Change Package: Yes</li>
                            <li class="pricing-plan__feature1">Wordpress SMS Plugin : Yes</li>
                            <li class="pricing-plan__feature1"> Fast Delivery Speed: Yes</li>
                            <li class="pricing-plan__feature1">Delivery Report: Yes</li>
                            <li class="pricing-plan__feature1">Validity :1y to 5Years</li>
                            <li class="pricing-plan__feature1">Number Formats Support: Multiple</li>
                            <li class="pricing-plan__feature1">XLS to SMS : Yes</li>
                            <li class="pricing-plan__feature1">Dynamic SMS : Yes (From XLS)</li>
                            <li class="pricing-plan__feature1">Group SMS : Yes</li>
                            <li class="pricing-plan__feature1">Online Payment (Bkash Auto):Yes</li>
                        </ul>
                    </div>
                    <div class="pricing-plan__actions">
                        <a routerLink="/contact">
                            <button type="button" class="pricing-plan__button1">Buy Now</button>
                        </a>
                        <p class="pricing-plan__text">*** 5% Vat will be added</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-plan">
                    <div class="pricing-plan__header1">
                        <h1 class="pricing-plan__title">MASKING</h1>
                        <h2 class="pricing-plan__summary">BASIC</h2>
                    </div>
                    <div class="pricing-plan__actions">
                        <p class="pricing-plan__cost">0.40৳</p>
                        <p class="pricing-plan__text">per SMS</p>
                        <p class="pricing-plan__text2">Buy 10000(sms) 0.50 BDT</p>
                        <p class="pricing-plan__text2">Buy 50000(sms) 0.48 BDT</p>
                        <p class="pricing-plan__text2">Buy 100000(sms) 0.45 BDT</p>
                        <p class="pricing-plan__text">Minimum Buy: 10000 SMS (5000Tk)</p>
                    </div>
                    <div class="pricing-plan__description">
                        <ul class="pricing-plan__list">
                            <li class="pricing-plan__feature1">Masking Sender ID: Yes</li>
                            <li class="pricing-plan__feature1">Masking Approval Time: 7 Working Days</li>
                            <li class="pricing-plan__feature1">Super Fast Delivery Speed</li>
                            <li class="pricing-plan__feature1">HTTP API Access : Yes</li>
                            <li class="pricing-plan__feature1">Send OTP: Yes</li>
                            <li class="pricing-plan__feature1">Delivery Report: Yes</li>
                            <li class="pricing-plan__feature1">Validity: 2y to 5Years</li>
                            <li class="pricing-plan__feature1">Number Formats Support: Multiple</li>
                            <li class="pricing-plan__feature1">XLS to SMS : Yes</li>
                            <li class="pricing-plan__feature1">Dynamic SMS : Yes</li>
                            <li class="pricing-plan__feature1">Group SMS : Yes (From xlsx)</li>
                            <li class="pricing-plan__feature1"> Online Payment (Bkash Auto):Yes</li>
                        </ul>
                    </div>
                    <div class="pricing-plan__actions">
                        <!--<a routerLink="./contact" class="pricing-plan__button1">Buy Now</a>-->
                        <a routerLink="/contact">
                            <button type="button" class="pricing-plan__button1">Buy Now</button>
                        </a>
                        <p class="pricing-plan__text">*** 5% Vat will be added</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-5) ENDS HERE-->

<!--MAIN BODY (PART-6) STARTS HERE-->
<section class="bg-color">
    <div class="containers">
        <div class="title3">
            <h2><i class="fa fa-comments"></i> IMO Service</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pricing-plan">
                    <div class="pricing-plan__header2">
                        <h1 class="pricing-plan__title">Account Creation</h1>
                    </div>
                    <div class="pricing-plan__actions">
                        <p class="pricing-plan__cost">15000৳</p>
                        <p class="pricing-plan__text">Per Account</p>
                    </div>
                    <div class="pricing-plan__description">
                        <ul class="pricing-plan__list">
                            <li class="pricing-plan__feature2">Only One Time</li>
                            <li class="pricing-plan__feature2">Online Payment:Yes</li>
                        </ul>
                    </div>
                    <div class="pricing-plan__actions">
                        <a routerLink="/contact">
                            <button type="button" class="pricing-plan__button2">Buy Now</button>
                        </a>
                        <p class="pricing-plan__text">*** 5% Vat will be added</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-plan">
                    <div class="pricing-plan__header2">
                        <h1 class="pricing-plan__title">Promotional Message</h1>
                    </div>
                    <div class="pricing-plan__actions">
                        <p class="pricing-plan__cost">0.80৳</p>
                        <p class="pricing-plan__text">PER SMS</p>
                    </div>
                    <div class="pricing-plan__description">
                        <ul class="pricing-plan__list">
                            <li class="pricing-plan__feature2">Geographical/Location based Targeting is complimentary/Free + Banglalink's Own Number base</li>
                            <li class="pricing-plan__feature2">All Operator</li>
                            <li class="pricing-plan__feature2">Online Payment:Yes</li>
                        </ul>
                    </div>
                    <div class="pricing-plan__actions">
                        <a routerLink="/contact">
                            <button type="button" class="pricing-plan__button2">Buy Now</button>
                        </a>
                        <p class="pricing-plan__text">*** 5% Vat will be added</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-plan">
                    <div class="pricing-plan__header2">
                        <h1 class="pricing-plan__title">Additional Charge</h1>
                    </div>
                    <div class="pricing-plan__actions">
                        <p class="pricing-plan__cost">0.10৳</p>
                        <p class="pricing-plan__text">Per parameter</p>
                    </div>
                    <div class="pricing-plan__description">
                        <ul class="pricing-plan__list">
                            <li class="pricing-plan__feature2">Age & Gender Targeting each would add 0.10p along with base price</li>
                            <li class="pricing-plan__feature2">Online Payment:Yes</li>
                        </ul>
                    </div>
                    <div class="pricing-plan__actions">
                        <a routerLink="/contact">
                            <button type="button" class="pricing-plan__button2">Buy Now</button>
                        </a>
                        <p class="pricing-plan__text">*** 5% Vat will be added</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-6) ENDS HERE-->

<!--MAIN BODY (PART-7) STARTS HERE-->
<section class="bg-color">
    <div class="containers">
        <div class="title4">
            <h2><i class="fa fa-whatsapp"></i> WhatsApp Service</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pricing-plan">
                    <div class="pricing-plan__header3">
                        <h1 class="pricing-plan__title">BASIC</h1>
                    </div>
                    <div class="pricing-plan__actions">
                        <p class="pricing-plan__cost">0.50৳</p>
                        <p class="pricing-plan__text">Per SMS</p>
                        <p class="pricing-plan__text">Minimum Buy: 1000 SMS (500Tk)</p>
                    </div>
                    <div class="pricing-plan__description">
                        <ul class="pricing-plan__list">
                            <li class="pricing-plan__feature3">Can Send From Your own Number : Yes</li>
                            <li class="pricing-plan__feature3">Super Fast Delivery Speed</li>
                            <li class="pricing-plan__feature3">Inbox Replay: Yes</li>
                            <li class="pricing-plan__feature3">Send Photos, PDF, Videos & File: Yes</li>
                            <li class="pricing-plan__feature3">Send Photos with Caption</li>
                            <li class="pricing-plan__feature3">100% Delivery Report</li>
                            <li class="pricing-plan__feature3">XLS Support : Yes</li>
                            <li class="pricing-plan__feature3">Online Payment:Yes</li>
                        </ul>
                    </div>
                    <div class="pricing-plan__actions">
                        <a routerLink="/contact">
                            <button type="button" class="pricing-plan__button3">Buy Now</button>
                        </a>
                        <p class="pricing-plan__text">*** 5% Vat will be added</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-plan">
                    <div class="pricing-plan__header3">
                        <h1 class="pricing-plan__title">STANDARD</h1>
                    </div>
                    <div class="pricing-plan__actions">
                        <p class="pricing-plan__cost">0.40৳</p>
                        <p class="pricing-plan__text">PER SMS</p>
                        <p class="pricing-plan__text">Minimum Buy: 10000 SMS (3800Tk)</p>
                    </div>
                    <div class="pricing-plan__description">
                        <ul class="pricing-plan__list">
                            <li class="pricing-plan__feature3">Can Send From Your own Number : Yes</li>
                            <li class="pricing-plan__feature3">Super Fast Delivery Speed</li>
                            <li class="pricing-plan__feature3">Inbox Replay: Yes</li>
                            <li class="pricing-plan__feature3">Send Photos, PDF, Videos & File: Yes</li>
                            <li class="pricing-plan__feature3">Send Photos with Caption</li>
                            <li class="pricing-plan__feature3">100% Delivery Report</li>
                            <li class="pricing-plan__feature3">XLS Support : Yes</li>
                            <li class="pricing-plan__feature3">Online Payment:Yes</li>
                        </ul>
                    </div>
                    <div class="pricing-plan__actions">
                        <a routerLink="/contact">
                            <button type="button" class="pricing-plan__button3">Buy Now</button>
                        </a>
                        <p class="pricing-plan__text">*** 5% Vat will be added</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-plan">
                    <div class="pricing-plan__header3">
                        <h1 class="pricing-plan__title">PREMIUM</h1>
                    </div>
                    <div class="pricing-plan__actions">
                        <p class="pricing-plan__cost">0.38৳</p>
                        <p class="pricing-plan__text">Per SMS</p>
                        <p class="pricing-plan__text">Minimum Buy : 5000 SMS (2000tk)</p>
                    </div>
                    <div class="pricing-plan__description">
                        <ul class="pricing-plan__list">
                            <li class="pricing-plan__feature3">Can Send From Your own Number : Yes</li>
                            <li class="pricing-plan__feature3">Super Fast Delivery Speed</li>
                            <li class="pricing-plan__feature3">Inbox Replay: Yes</li>
                            <li class="pricing-plan__feature3">XLS Support : Yes</li>
                            <li class="pricing-plan__feature3">Send Photos, PDF, Videos & File: Yes</li>
                            <li class="pricing-plan__feature3">Send Photos with Caption</li>
                            <li class="pricing-plan__feature3">100% Delivery Report</li>
                            <li class="pricing-plan__feature3">Online Payment:Yes</li>
                        </ul>
                    </div>
                    <div class="pricing-plan__actions">
                        <a routerLink="/contact">
                            <button type="button" class="pricing-plan__button3">Buy Now</button>
                        </a>
                        <p class="pricing-plan__text">*** 5% Vat will be added</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-7) ENDS HERE-->

<!--MAIN BODY (PART-8) STARTS HERE-->
<section class="testimonial">
    <div class="containers">
        <div class="row">
            <div class="title">
                <h2>They Choose Us</h2>
            </div>
        </div>
        <div class="row">
            <owl-carousel-o [options]="testimonialSlider">
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Agami.jpg" alt="testimonial">     
                    </div>       
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Akij-takaful-insurance.jpg" alt="testimonial">
                    </div>      
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Australian-international-school.jpg" alt="testimonial">
                    </div>      
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Bangladesh-Specialized-Hospital.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Bangle-islamic-life-insurance.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Bank-Asia.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Bankgkok-Hospital.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Bay.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Bazarnao.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/beximco-Lpg.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Bikroy-1.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Brac-Bank.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/BUBT.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Cloud-Communications.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Community-Bank.jpg" alt="testimonial">     
                    </div>       
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Concord.jpg" alt="testimonial">
                    </div>      
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Cookups.jpg" alt="testimonial">
                    </div>      
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Dhaka-Bank.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Eastern-Bank.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Foodpanda.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/gozayaan.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/ICMAB.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Imperial-Hospital-Limited.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/jamuna-bank.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Labaid.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Lakeshore-Hotels.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/lanka-Bangla-Finance.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Loox.jpg" alt="testimonial">
                    </div>        
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Lubanan.jpg" alt="testimonial">     
                    </div>       
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Maple-leaf-international-logo.jpg" alt="testimonial">
                    </div>      
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Mayalogy.jpg" alt="testimonial">
                    </div>      
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Mutual-Trust-Bank-Ltd.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/nandan-Park.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Novus.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Nrbc-bank.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/NRBC-Planet.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Orion-Phara-Ltd.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Partex.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Praava-Health.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/pran-rfl-group.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Radiant-Pharmaceuticals.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Renata-Limited.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/SBAC-Bank.jpg" alt="testimonial">     
                    </div>       
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Sonali-life-insurance.jpg" alt="testimonial">
                    </div>      
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/South-breez-School.jpg" alt="testimonial">
                    </div>      
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/SPKS.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Supreme-Court-bar-Association.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Tallykhata.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/trust-azita-pay.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/Ucb-Stock-Brokarage.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/ucb.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/unimart.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bulk service page/Client/UNIQLO.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
            </owl-carousel-o>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-5) ENDS HERE-->