<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>System Integration</h2>
                        <p>We do the process of designing and building a customized 
                            architecture or application and integrating it with new 
                            or existing hardware, packaged and custom software, and 
                            communications.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/System Intregration/system-intregration.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->

<!--Main Body Part 2 Starts Here-->
<section class="main-body-part2">
    <div class="containers">
        <div class="row">
            <div class="title1">
                <h2>PLAN BUILD SUPPORT IMPROVE MANAGE</h2>
            </div>
        </div>
        <div class="row">
            <div class="body2-img">
                <img src="../assets/Images/System Intregration/si.png">
            </div>
        </div>
    </div>
</section>
<!--Main Body Part-2 Ends Here-->

<!--MAIN BODY (PART-2) STARTS HERE-->
<section class="main-body-part3">
    <div class="containers">
        <div class="title">
            <h2>System Integration for VAS</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="block3">
                    <ul>
                        <p>We Are Building</p>
                        <h1>SIMPLE, RELIABLE, EASY TO OPERATE & MAINTAIN</h1>
                        <p>IT Infrastructure & Systems For Our Clients</p>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="mb3-image">
                    <p><i class="fa fa-gears"></i> <span>+</span>  <i class="fa fa-code"></i><span>=</span>MULTIPLE VENDORS</p>               
                </div>
            </div>
            <div class="col-md-4">
                <div class="sys-integrate">
                    <h1>SYSTEM INTEGRATION</h1>
                    <li><i class="fa fa-chevron-right"></i> PLAN</li>
                    <li><i class="fa fa-chevron-right"></i> BUILD</li>   
                    <li><i class="fa fa-chevron-right"></i> SUPPORT</li>   
                    <li><i class="fa fa-chevron-right"></i> IMPROVE</li>   
                    <li><i class="fa fa-chevron-right"></i> MANAGE</li>                  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="client-count-wrp">
                    <div class="container">
                        <div class="heading">
                            <h4>Overall Deployed Projects</h4>
                        </div>
                        <div class="client-count-wrp-inner">
                            <div class="cards">
                                <h4>{{projectcount+ "+"}}</h4>
                            </div>
                            <!--card-->
                        </div>
                    </div>              
                </div>         
            </div>
            <div class="col-md-7">
                <div class="point">
                    <div class="container">
                        <div class="point-img">
                            <img src="../assets/Images/System Intregration/point.png">
                        </div>
                    </div>              
                </div>         
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-2) ENDS HERE-->


<!--MAIN BODY (PART-3) STARTS HERE-->
<section class="testimonial">
    <div class="containers">
        <div class="row">
            <div class="title1">
                <h2>Our Partners ( For VAS & SI )</h2>
            </div>
        </div>
        <div class="row">
            <owl-carousel-o [options]="testimonialSlider">
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/Oracle.jpg" alt="testimonial">     
                    </div>       
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/6d-technologies.jpg" alt="testimonial">
                    </div>      
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/Ada.jpg" alt="testimonial">
                    </div>      
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/joycall.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/Nokia.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/Gms.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/Subex.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/Pelatro.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/vmware.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/imo.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/Mx-Plyer.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/optiva.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/likee.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/System Intregration/Client/Monty-mobile.jpg" alt="testimonial">
                    </div>        
                </ng-template>   
            </owl-carousel-o>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-3) ENDS HERE-->

