<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>বাংলাদেশের সেরা রেট ১৮ পয়সা!</h2>
                        <p>ব্যবসার দ্রুত এবং সবচাইতে সাশ্রয়ী প্রচারে Smart Lab এর Messaging Solution
                            সার্ভিস আপনাকে এনে দিবে সর্বোচ্চ সাফল্য!
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">SMS পাঠাতে রেজিস্ট্রেশন করুন</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home/new-lab.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->

<!--MAIN BODY (PART-2) STARTS HERE-->
<section class="bg-color">
    <div class="containers">
        <div class="title">
            <h2>Our Services</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home/software-development.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Software Development</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home/Bulk-sms.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Bulk SMS</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home/Analytics.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Analytics</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home/Digital Engagement.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Digital Engagements</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home/Prototyping.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Prototyping</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home/IT Consulting.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>IT Consulting</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home/Data Management.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Data Managment</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home/IT Training & Certification.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>IT Training & Certification</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home/Document Management & Digital Librar.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Document Management & Digital Library</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home/Bulk-sms.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Bulk SMS</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home/Analytics.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Analytics</h1>
                </div>
            </div>
        </div>
        <div class="title">
            <h2>Our Solutions</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home sub/New folder/cyber-security.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Cyber Security</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home sub/New folder/Forensicc.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Forensic (Computer, Mobile, Cloud)</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home sub/New folder/Vapt.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>VAPT</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home sub/New folder/Building-Automation.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Building Automation</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home sub/New folder/Iot-Solution.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>IoT Solutions</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home sub/New folder/Video Conferencing.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Video Conferencing</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home sub/New folder/Wireless Networking.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Wireless Networking</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home sub/New folder/Identify and Access Management.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Identify & Access Management</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home sub/New folder/CCTV Surveillance.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>CCTV Surveillance</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home sub/New folder/ERp.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>ERP & Customize Software</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home sub/New folder/Structured Cabling.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Structured Cabling</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/home sub/New folder/data center.png" alt="si.png">
                </div>
                <div class="main-body-part2">
                    <h1>Data Center design & Implementation</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-2) ENDS HERE-->

<!--MAIN BODY (PART-4) STARTS HERE-->
<section class="testimonial">
    <div class="containers">
        <div class="row">
            <div class="title">
                <h2>Our Clients</h2>
            </div>
        </div>
        <div class="row">
            <owl-carousel-o [options]="testimonialSlider">
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/bank_asia.jpg" alt="testimonial">     
                    </div>       
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/brac-bank.jpg" alt="testimonial">
                    </div>      
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/Ebl.jpg" alt="testimonial">
                    </div>      
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/community-bank.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/ucb.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/Jamuna.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/Lanka-bangla.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/Mtbl.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/Nrbc.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/Sbac.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/Trust-bank.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/ucb.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bank 315/union.jpg" alt="testimonial">
                    </div>        
                </ng-template>    
            </owl-carousel-o>
        </div>
    </div>
</section> 
<!--MAIN BODY (PART-4) ENDS HERE-->

<!--MAIN BODY (PART-5) STARTS HERE-->
<section class="testimonial">
    <div class="containers">
        <div class="row">
            <div class="title">
                <h2>Our Partners</h2>
            </div>
        </div>
        <div class="row">
            <owl-carousel-o [options]="testimonialSlider">
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Allot.jpg" alt="testimonial">     
                    </div>       
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Bitdefender.jpg" alt="testimonial">
                    </div>      
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Cisco.jpg" alt="testimonial">
                    </div>      
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Credence.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/DELLEMC.png" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Electrofrom.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/epordo.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/extrm-network.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Fat-pipe.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Fortinet.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Hewlett-packard.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Huawai.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Juniper.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Microsoft.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Passware.jpg" alt="testimonial">     
                    </div>       
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/ploycom (2).jpg" alt="testimonial">
                    </div>      
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/PRTG-network.jpg" alt="testimonial">
                    </div>      
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Quantam.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Qvis.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Red-hat.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/sat.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Shadow-Dragon.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Solar-winds.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Tiny.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Trellix.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Trend-micro.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/veemon.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/our partners/Vm-ware.jpg" alt="testimonial">
                    </div>        
                </ng-template>   
            </owl-carousel-o>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-5) ENDS HERE-->