<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>IT Consulting</h2>
                        <p>We ensure to help you by consulting as a field of activity focuses on advising
                            organizations how best to use information technology (IT) in achieving your
                            business objectives. We support you to nurture your company ability to integrate
                            technologies as well as determining product and brands. We ensure world leading
                            IT Consulting Services for your business.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home/IT Consulting.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->