<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>Wireless Networking</h2>
                        <p>A wireless network is a computer network that uses wireless data connections
                            between network nodes. It is a method by which homes, telecommunications
                            networks and business installations avoid the costly process of introducing cables
                            into a building, or as a connection between various equipment locations Admin
                            telecommunications networks are generally implemented and administered using
                            radio communication. This implementation takes place at the physical level (layer)
                            of the OSI model network structure. We are ready to provide you most powerful
                            wireless network system for your company.
                        </p>
                        <p>
                            We proudly providing real time wireless networking solution.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home sub/New folder/Wireless Networking.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->