<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-6">
                    <div class="slide-content">
                        <h2>Structured Cabling</h2>
                        <p>Structured cabling is the standardized architecture and components for
                            communications cabling specified by the EIA/TIA TR42 committee and used as a
                            voluntary standard by manufacturers to ensure interoperability. Our company
                            promised to give you best Structured Cabling solution for your organization.
                        </p>
                        <p>
                            We have expert team on structured cabling solutions for your business.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="slide-image">
                        <img src="../assets/Images/home sub/New folder/Structured Cabling.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>  
    </div>
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->